<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>docdetails</title>
    <link rel="stylesheet" href="docdetails.css">
</head>
<body>
    <div class="details-patient">
        <div class="ellipse-12"></div>
        <div class="contact-us">Contact us</div>
        <div class="group-11">
          <div class="rectangle-19">
            <form>
              <textarea style="width: 355px; height: 243px; border: 0; border-radius: hsl(5, 10%, 72%); font-family: 'DM Sans'; font-size: 28; border-radius: 29px;"></textarea>
            </form>
          </div>
        </div>
        <div class="details">Details</div>
        <img class="image-18" src="SIH/views/images/image 18.png" />
        <div class="home"><a href="redhome.html" style="color: hsl(0, 0%, 0%); text-decoration: none;">Home</a></div>
        <div class="user-history"><a href="dochistory.html" style="color: hsl(0, 0%, 0%); text-decoration: none;">User History</a></div>
        <div class="account"><a href="docdetails.html" style="color: hsl(338, 90%, 57%); text-decoration: none;">Account</a></div>
        <div class="line-1"></div>
        <button class="ellipse-11"></button>
      </div>
      <a href="Popup4.html" class="ellipse-11"></a>
</body>
</html>