<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dochistory</title>
    <link rel="stylesheet" href="dochistory.css">
</head>
<body>
    <div class="doctor-use-only">
        <img class="image-11" src="SIH/views/images/image 11.png" />
        <div class="image-12"></div>
        <div class="line-1"></div>
        <div class="group-7">
          <div class="rectangle-19"></div>
          <div class="user-history-scrollable">User History</div>
        </div>
        <img class="daco-2780970-1" src="Daco_2780970.png" />
        <div class="line-6"></div>
        <button class="ellipse-10"></button>
        <div class="contact-us">Contact us</div>
        <div class="contact-us">Contact us</div>
        <div class="group-11">
          <div class="rectangle-27">
            <form>
              <textarea style="width: 355px; height: 243px; border: 0; border-radius: hsl(5, 10%, 72%); font-family: 'DM Sans'; font-size: 28; border-radius: 29px;"></textarea>
            </form>
          </div>
          <div class="rectangle-20">
          </div>
          <div class="frame-4">
            <button class="confirm">Confirm</button>
          </div>
          <div class="rectangle-21"></div>
          <div class="cancel-appointment">Cancel appointment</div>
          <div class="change-appointment">Change appointment</div>
          <div class="rectangle-22"></div>
          <div class="schedule">Schedule</div>
        </div>
        <div class="rectangle-23">
          <form action="">
            <input type="text" id="search" name="search" placeholder="search" style="border-radius: 29px; border: 4px solid; width: 592px;
            height: 66px; border-color: #FF2272; font: 400 28px 'DM Sans">
          </form>
        </div>
        <svg
          class="polygon-1"
          width="34"
          height="35"
          viewBox="0 0 34 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.3065 11.2829L27.3571 10.8083L16.4339 30.3508L6.3065 11.2829Z"
            fill="#717171"
          />
        </svg>
      
        <svg
          class="polygon-2"
          width="34"
          height="36"
          viewBox="0 0 34 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.3065 12.1684L27.3571 11.6938L16.4339 31.2363L6.3065 12.1684Z"
            fill="#717171"
          />
        </svg>
      
        <div class="home"><a href="redhome.html" style="color: #000000; text-decoration: none;">Home</a></div>
        <div class="user-history"><a href="dochistory.html" style="color: hsl(338, 90%, 57%); text-decoration: none;">User History</a></div>
        <div class="account"><a href="docdetails.html" style="color: #000000; text-decoration: none;">Account</a></div>
      </div>
      <a href="Popup4.html" class="ellipse-10"></a>
</body>
</html>