<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./docuser.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="doctor-use-only">
      <img class="image-11" src="Images/image 11.png" />
      <div class="image-12"></div>
      <div class="line-1"></div>
      <div class="group-7">
        <div class="rectangle-19"></div>
        <div class="user-history-scrollable">User History(Scrollable)</div>
        <div
          class="watashi-no-na-wa-kira-yoshikage-nenre-san-juu-san-sai-jitaku-wa-morioh-cho-hokuto-bu-no-bessou-chitai-ni-ari-kekkon-wa-shiteinai-shigoto-wa-kame-yu-chuun-den-no-kaishain-de-mainichi-osuku-tomo-yoru-hachi-ji-made-niwa-kitakusuru-tabako-wa-suwanai-sake-wa-tashinamu-tedo-yoru-juu-ichi-niwa-toko-ni-tsuki-kanarazu-hachi-jikan-wa-suimin-o-toru-you-ni-shiteiru-neru-mae-ni-atatakai-miruku-o-nomi-edsadasdssddssdsddshiteiru-neru-mae-ni-atatakai-miruku-o-nomi-watashi-no-na-wa-kira-yoshikage-nenre-san-juu-san-sai-jitaku-wa-morioh-cho-hokuto-bu-no-bessou-chitai-ni-ari-kekkon-wa-shiteinai-shigoto-wa-kame-yu-chuun-den-no-kaishain-de-mainichi-osuku-tomo-yoru-hachi-ji-made-niwa-kitakusuru-tabako-wa-suwanai-sake-wa-tashinamu-tedo"
        >
          Watashi no na wa Kira Yoshikage. Nenre san-juu-san sai. Jitaku wa
          Morioh-cho hokuto bu no bessou chitai ni ari, kekkon wa
          shiteinai.Shigoto wa Kame Yu chuun den no kaishain de mainichi osuku
          tomo yoru hachi ji made niwa kitakusuru. Tabako wa suwanai, sake wa
          tashinamu tedo. Yoru juu-ichi niwa toko ni tsuki, kanarazu hachi jikan
          wa suimin o toru you ni shiteiru.Neru mae ni atatakai miruku o nomi.
          edsadasdssddssdsddshiteiru.Neru mae ni atatakai miruku o nomi.
          <br /><br />Watashi no na wa Kira Yoshikage. Nenre san-juu-san sai.
          Jitaku wa Morioh-cho hokuto bu no bessou chitai ni ari, kekkon wa
          shiteinai.Shigoto wa Kame Yu chuun den no kaishain de mainichi osuku
          tomo yoru hachi ji made niwa kitakusuru. Tabako wa suwanai, sake wa
          tashinamu tedo.
        </div>
      </div>
      <img class="daco-2780970-1" src="Images/image12.png" />
      <div class="line-6"></div>
      <div class="ellipse-10"></div>
      <div class="contact-us">Contact us</div>
      <div class="contact-us">Contact us</div>
      <div class="home">Home</div>
      <div class="user-history">User History</div>
      <div class="account">Account</div>
      <div class="group-11">
        <div class="rectangle-27"></div>
        <div class="rectangle-20"></div>
        <div class="frame-4">
          <div class="confirm">Confirm</div>
        </div>
        <div class="rectangle-21"></div>
        <div class="cancel-appointment">Cancel appointment</div>
        <div class="change-appointment">Change appointment</div>
        <div class="rectangle-22"></div>
        <div class="schedule">Schedule</div>
        <div class="_1-2-3-4-5">1.<br />2.<br />3.<br />4.<br />5.<br /></div>
      </div>
      <div class="rectangle-23"></div>
      <div class="search">Search</div>
      <div
        class="billo-bagge-billeyan-baki-karegi-bagge-bagge-billeyan-daki-karegi-billo-bagge-billyan-baki-karegi"
      >
        Billo bagge billeyan baki karegi bagge bagge billeyan daki karegi billo
        bagge billyan baki karegi
      </div>
      <svg
        class="polygon-1"
        width="34"
        height="35"
        viewBox="0 0 34 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.3065 11.2829L27.3571 10.8083L16.4339 30.3508L6.3065 11.2829Z"
          fill="#717171"
        />
      </svg>

      <svg
        class="polygon-2"
        width="34"
        height="36"
        viewBox="0 0 34 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.3065 12.1684L27.3571 11.6938L16.4339 31.2363L6.3065 12.1684Z"
          fill="#717171"
        />
      </svg>
    </div>
  </body>
</html>
