<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup4</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="details-patient">
        <div class="ellipse-12"></div>
        <div class="contact-us">Contact us</div>
        <div class="placeholder">Placeholder</div>
        <div class="placeholder2">Placeholder</div>
        <div class="placeholder3">Placeholder</div>
        <div class="placeholder4">Placeholder</div>
        <div class="placeholder5">Placeholder</div>
        <div class="placeholder6">Placeholder</div>
        <div class="line-21"></div>
        <div class="group-11">
          <div class="rectangle-19"></div>
        </div>
     
       
        <div class="details">Details</div>
      
        <img
          class="image-172"
          src="image 17.png"
        />
      </div>
      
</body>
</html>