<div style="width: 100%; height: 100%; position: relative; background: #EBEBEB">
    <div style="width: 1920px; height: 313px; left: 0px; top: 0px; position: absolute; background: linear-gradient(0deg, rgba(1, 119, 217, 0.35) 0%, rgba(1, 119, 217, 0.35) 100%)"></div>
    <div style="width: 74px; height: 74px; left: 1804px; top: 199px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <div style="width: 1920px; height: 0px; left: 0px; top: 372px; position: absolute; border: 1px #818181 solid"></div>
    <div style="width: 1414px; height: 636px; left: 453px; top: 443px; position: absolute; background: #0177D9; border-radius: 29px"></div>
    <div style="width: 414px; height: 708px; left: 0px; top: 371px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 414px; height: 708px; position: relative">
            <div style="width: 413px; height: 708px; left: 0px; top: 0px; position: absolute; background: #DDF1F2; border: 1px #818181 solid"></div>
            <div style="width: 234px; height: 46px; cursor: pointer; padding-left: 15px; padding-right: 15px; padding-top: 11px; padding-bottom: 11px; left: 89px; top: 635px; position: absolute; background: #0177D9; border-radius: 29px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                <div style="color: #F0F0F0; font-size: 28px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Confirm</div>
            </div>
            <div style="width: 368px; height: 66px; left: 21px; top: 134px; cursor: pointer; position: absolute; background: #F0F0F0; border-radius: 29px; border: 2px #0177D9 solid"></div>
            <div style="left: 37px; top: 93px; position: absolute; color: black; font-size: 28px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Search</div>
            <div style="left: 37px; top: 207px; position: absolute; color: black; font-size: 28px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Top Doctors</div>
            <div style="width: 74px; height: 74px; left: 21px; top: 258px; position: absolute; background: #D9D9D9; border-radius: 9999px; cursor: pointer;"></div>
            <div style="width: 74px; height: 74px; left: 120px; top: 258px; position: absolute; background: #D9D9D9; border-radius: 9999px; cursor: pointer;"></div>
            <div style="width: 74px; height: 74px; left: 219px; top: 258px; position: absolute; background: #D9D9D9; border-radius: 9999px; cursor: pointer;"></div>
            <div style="width: 74px; height: 74px; left: 318px; top: 258px; position: absolute; background: #D9D9D9; border-radius: 9999px; cursor: pointer;"></div>
            <div style="width: 414px; height: 0px; left: 0px; top: 245px; position: absolute; border: 1px black solid"></div>
            <div style="width: 414px; height: 0px; left: 0px; top: 346px; position: absolute; border: 1px black solid"></div>
            <div style="width: 368px; height: 66px; left: 21px; top: 516px; cursor: pointer; position: absolute; background: #F0F0F0; border-radius: 29px; border: 2px #0177D9 solid"></div>
            <div style="left: 37px; top: 475px; position: absolute; color: black; font-size: 28px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Timing</div>
            <div style="left: 55px; top: 593px; position: absolute"><span style="color: black; font-size: 18px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Click </span><span style="color: #0177D9; font-size: 18px; font-family: DM Sans; font-weight: 400; word-wrap: break-word; cursor: pointer;">here</span><span style="color: black; font-size: 18px; font-family: DM Sans; font-weight: 400; word-wrap: break-word"> if you want us to help you.</span></div>
            <div style="width: 368px; height: 66px; left: 21px; top: 398px; cursor: pointer; position: absolute; background: #F0F0F0; border-radius: 29px; border: 2px #0177D9 solid"></div>
            <div style="left: 37px; top: 357px; position: absolute; color: black; font-size: 28px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Date of Appointment</div>
            <div style="left: 32px; top: 29px; position: absolute; text-align: center; color: #0177D9; font-size: 38px; font-family: DM Sans; font-weight: 500; word-wrap: break-word">Make Appointment</div>
        </div>
    </div>

    </div>

    <div style="left: 934px; top: 456px; position: absolute; color: #C6FCFF; font-size: 75px; font-family: DM Sans; font-weight: 500; word-wrap: break-word">Appointments</div>
    <div style="width: 368px; height: 66px; left: 960px; top: 570px; position: absolute">
        <div style="width: 368px; height: 66px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 29px; border: 2px #0177D9 solid"></div>
        <div style="width: 273px; height: 25px; left: 28px; top: 21px; position: absolute; color: black; font-size: 19px; font-family: DM Sans; font-weight: 500; word-wrap: break-word">Select date</div>
    </div>
    <img style="width: 1411px; height: 630px; left: 453px; top: 453px; position: absolute" src="image 16.png" />
    <img style="width: 1920px; height: 318px; left: 0px; top: 0px; position: absolute" src="Rectangle 28.png" />
    <div style="left: 1808px; top: 37px; position: absolute; color: #002E55; font-size: 18px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Contact us</div>
    <div style="left: 475px; top: 324px; position: absolute; color: black; font-size: 28px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="left: 705px; top: 324px; position: absolute; color: black; font-size: 28px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">User History</div>
    <div style="left: 995px; top: 324px; position: absolute; color: #0177D9; font-size: 28px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Appointments</div>
    <div style="left: 1314px; top: 324px; position: absolute; color: black; font-size: 28px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Account</div>

    <button id="myButton" class="btn">My Button</button>
</div>