<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redhome</title>
    <link rel="stylesheet" href="redhome.css">
</head>
<body>
    <div class="home">
        <div class="ellipse-11"></div>
        <div class="line-7"></div>
        <div class="rectangle-19"></div>
        <img class="image-15" src="SIH/views/images/image15.png" />
        <div class="group-10">
          <div class="rectangle-23"></div>
          <svg
            class="polygon-1"
            width="34"
            height="34"
            viewBox="0 0 34 34"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.30699 10.9232L27.3576 10.4638L16.4344 29.3833L6.30699 10.9232Z"
              fill="#717171"
            />
          </svg>
      
          <div class="select-date">Select date</div>
        </div>
        <img class="image-14" src="image-14.png" />
      
        <div class="group-12">
          <div class="rectangle-27"></div>
          <div class="rectangle-20"></div>
          <div class="frame-4">
            <button class="confirm">Confirm</button>
          </div>
          <div class="rectangle-21"></div>
          <div class="cancel-appointment">Cancel appointment</div>
          <div class="change-appointment">Change appointment</div>
          <div class="rectangle-22"></div>
          <div class="schedule">Schedule</div>
        <svg
          class="polygon-3"
          width="34"
          height="35"
          viewBox="0 0 34 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.3065 11.2828L27.3571 10.8083L16.4339 30.3507L6.3065 11.2828Z"
            fill="#717171"
          />
        </svg>
      
        <svg
          class="polygon-4"
          width="34"
          height="36"
          viewBox="0 0 34 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.3065 12.1683L27.3571 11.6938L16.4339 31.2362L6.3065 12.1683Z"
            fill="#717171"
          />
        </svg>
      
        <div class="contact-us">Contact us</div>
        <div class="appointment">Appointment</div>
        <img class="image-9" src="SIH/views/images/image 9.png" />
        <div class="rectangle-17"></div>
        <div class="home2">Home</div>
        <div class="user-history">User History</div>
        <div class="account">Account</div>
        <div class="ellipse-112"></div>
      </div>
      
</body>
</html>