<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./user.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="user">
      <img class="image-11" src="Images/image 11.png" />
      <div class="image-12"></div>
      <div class="line-1"></div>
      <div class="group-7">
        <div class="rectangle-19"></div>
        <div class="user-history-scrollable">User History(Scrollable)</div>
       
      </div>
      <div class="rectangle-20"></div>
      <div class="frame-4">
        <div class="confirm">Confirm</div>
      </div>
      <div class="rectangle-17"></div>
      <div class="search">Search</div>
      <div class="top-doctors">Top Doctors</div>
      <div class="ellipse-5"></div>
      <div class="ellipse-6"></div>
      <div class="ellipse-7"></div>
      <div class="ellipse-8"></div>
      <div class="line-3"></div>
      <div class="line-5"></div>
      <div class="rectangle-21"></div>
      <div class="timing">Timing</div>
      <div class="click-here-if-you-want-us-to-help-you">
        <span
          ><span class="click-here-if-you-want-us-to-help-you-span">Click </span
          ><span class="click-here-if-you-want-us-to-help-you-span2">here</span
          ><span class="click-here-if-you-want-us-to-help-you-span3">
            if you want us to help you.</span
          ></span
        >
      </div>
      <div class="rectangle-22"></div>
      <div class="date-of-appointment">Date of Appointment</div>
      <img class="daco-2780970-1" src="Images/image12.png" />
      <div class="line-6"></div>
      <div class="ellipse-10"></div>
      <div class="contact-us">Contact us</div>
      <div class="make-appointment">Make Appointment</div>
      <div class="placeholder">Placeholder</div>
      <div class="placeholder2">Placeholder</div>
      <div class="placeholder3">Placeholder</div>
      <div class="placeholder4">Placeholder</div>
      <div class="placeholder5">Placeholder</div>
      <div class="placeholder6">Placeholder</div>
    </div>
  </body>
</html>
